.header {
  font-size: 40px;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgb(59, 32, 1);
}

.text {
  padding-left: 10px;
  width: 400px;
  font-size: 26px;
  color: rgb(42, 33, 0);
  text-align: center;
  margin-bottom: 30px;
}
